// Dark theme variables
// ------------------------------------
$base-dark-th: #121212;
$base-dark-tb: #1f1A24;
$base-dark-tc: #332940;
// ---------------------
$base-dark-page-title: #BB86FC;
$base-dark-button-color: #03DAC5;
$base-dark-error: #CF6679;

$black: #000000;
$white: #FFFFFF;
