// Dark theme variables
// ------------------------------------
$base-dark-th: #121212;
$base-dark-tb: #1f1A24;
$base-dark-tc: #332940;
$base-dark-lbg: #514463;
$base-dark-cn-bg: #3c304d;
// ---------------------
$base-dark-page-title: #BB86FC;
$base-dark-button-color: #03DAC5;
$base-dark-error: #271c1e;
$base-dark-warning: #e6cc00;


$black: #000000;
$white: #FFFFFF;
